@media screen and (max-width: 1025px) {

    #aboutMe{
        display: flex;
        justify-content: space-around;
        text-align: right;
        margin-top: 95px;
        padding: 0 55px;
        gap: 5rem;
        h1 {
            position: relative;
            font-size: 28px;
        }

        .aboutMeContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 3rem;
            width: 80%;
            img{
                width: 250px;
                height: 250px;
                border-radius: 50%;
            }
            p{
                width: 100%;
                font-size: 18px;
            }
        }
    }
}


@media screen and (max-width: 875px) {
    nav{
        display: none;
    }
    #contactMe{
        ul{
            display: flex;
            flex-direction: column;
        }
    }
    #aboutMe, #myWork, #contactMe{
        padding: 0 10px 10px 10px;
        gap: 2rem;
    }
}

